<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <a [routerLink]="['/test']">Прохождение тестов</a>
  </mat-grid-tile>
  <mat-grid-tile [ngClass] = "'dictionary'">
    <a [routerLink]="['/dictionary']">Введение справочной информации</a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a [routerLink]="['/test/create']">Добавление новых тестов</a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a [routerLink]="['/article']">Обучающий материал</a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a [routerLink]="['/administration']">Администрирование</a>
  </mat-grid-tile>
</mat-grid-list>
