<div class="main-div">
<mat-card lass="z-depth center" flex="50">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="registration()">
      <h2>Регистрация</h2>
      <mat-error *ngIf="loginInvalid">
        The username and password were not recognized
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Email" formControlName="username" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Зарегистироваться</button>
    </form>
  </mat-card-content>
</mat-card>
</div>
