<!--<head>-->
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
<!--</head>-->
<!--<h1>Список словарей</h1>-->
<!--<table class="table table-striped">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <td>Id</td>-->
<!--    <td>Наименование</td>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let dict of dictionary">-->
<!--    <td>{{dict.dictionaryId}}</td>-->
<!--    <td>{{dict.name}}</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->


<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="dictionaryId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> № </th>
      <td mat-cell *matCellDef="let row"> {{row.dictionaryId}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Наименование </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>
    <ng-container matColumnDef="change">
      <th mat-header-cell *matHeaderCellDef > Изменить </th>
      <td mat-cell *matCellDef="let row"> <a [routerLink]="['/home', row.dictionaryId.toString()]">Введение справочной информации</a> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</div>
