<!--<header class="header">-->

<!--  <ng-template #titleTemplate>-->
<!--    <div class="header__container">-->
<!--      <div class="header__title">-->
<!--        <div class="main_title">титле</div>-->
<!--        <div class="sub_title">суб титле</div>-->
<!--      </div>-->
<!--      <div class="separator"></div>-->
<!--      <div class="breadcrumbs__container">-->
<!--      </div>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--</header>-->
<!--<nav>-->
<!--  <ul id="navbar">-->
<!--    <li><a [routerLink]="'login'"></a>-->
<!--  </ul>-->
<!--</nav>-->
<main>
  <router-outlet></router-outlet>
</main>
