<h1 mat-dialog-title><strong>{{convertToUi(true)}}</strong></h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} Name" matInput [(ngModel)]="local_data.name">
  </mat-form-field>
  <ng-template #elseTemplate>
    Уверены что хотите удалить? <b>{{local_data.name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{convertToUi(null)}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Отмена</button>
</div>
